{% extends 'admin/master.html' %} 
{% block body %} 
<br> 
<center> 
    <h1> Welcome to Admin!</h1><br><br> 
    <table border="4" cellpadding="10px"> 
        <thead> 
            <th>Table Name</th> 
            <th>Data stored</th> 
            <th>Category (if any)</th> 
        </thead> 
        <tbody> 
            <tr> 
                <td>User</td> 
                <td>User details entered while signing up</td> 
                <td>Users</td></tr> 
            <tr> 
                <td>Administrator</td> 
                <td>Details of all admins</td> 
                <td>Admins</td></tr> 
            <tr> 
                <td>User_Log</td> 
                <td>Complete details of all user activity</td> 
                <td>Users</td></tr> 
            <tr> 
                <td>Admin_Login</td> 
                <td>Date and time of when every admin logs in</td> 
                <td>Admins</td></tr> 
            <tr> 
                <td>Cities</td> 
                <td>Different cities and names of theatres in every city</td> 
                <td>-</td></tr> 
            <tr> 
                <td>Chennai</td> 
                <td>Different theatres in which a particular movie is showing in Chennai</td> 
                <td>Theatres</td></tr> 
            <tr> 
                <td>Mumbai</td> 
                <td>Different theatres in which a particular movie is showing in Mumbai</td> 
                <td>Theatres</td></tr> 
            <tr> 
                <td>Bangalore</td> 
                <td>Different theatres in which a particular movie is showing in Bangalore</td> 
                <td>Theatres</td></tr> 
            <tr> 
                <td>Delhi</td> 
                <td>Different theatres in which a particular movie is showing in Delhi</td> 
                <td>Theatres</td></tr> 
            <tr> 
                <td>Sunday</td> 
                <td>Number of seats available for a movie is playing in a theatre on Sunday</td> 
                <td>Seat_Availability</td></tr> 
            <tr> 
                <td>Monday</td> 
                <td>Number of seats available for a movie is playing in a theatre on Monday</td> 
                <td>Seat_Availability</td></tr> 
            <tr> 
                <td>Tuesday</td> 
                <td>Number of seats available for a movie is playing in a theatre on Tuesday</td> 
                <td>Seat_Availability</td></tr> 
            <tr> 
                <td>Wednesday</td> 
                <td>Number of seats available for a movie is playing in a theatre on Wednesday</td> 
                <td>Seat_Availability</td></tr> 
            <tr> 
                <td>Thursday</td> 
                <td>Number of seats available for a movie is playing in a theatre on Thursday</td> 
                <td>Seat_Availability</td></tr> 
            <tr> 
                <td>Friday</td> 
                <td>Number of seats available for a movie is playing in a theatre on Friday</td> 
                <td>Seat_Availability</td></tr> 
            <tr> 
                <td>Saturday</td> 
                <td>Number of seats available for a movie is playing in a theatre on Saturday</td> 
                <td>Seat_Availability</td></tr> 
            <tr> 
                <td>Chennai_Timings</td> 
                <td>Time at which a movie is playing in a theatre in Chennai</td> 
                <td>Timings</td></tr> 
            <tr> 
                <td>Mumbai_Timings</td> 
                <td>Time at which a movie is playing in a theatre in Mumbai</td> 
                <td>Timings</td></tr> 
            <tr> 
                <td>Bangalore_Timings</td> 
                <td>Time at which a movie is playing in a theatre in Bangalore</td> 
                <td>Timings</td></tr> 
            <tr> 
                <td>Delhi_Timings</td> 
                <td>Time at which a movie is playing in a theatre in Delhi</td> 
                <td>Timings</td></tr> 
            <tr> 
                <td>Seats</td> 
                <td>Details of seats which are booked</td> 
                <td>-</td></tr> 
        </tbody> 
    </table> 
</center> 
{% endblock body %} 